{% extends "master.html" %}
{% load static %}

{% block title %}
Zu Hause 
{% endblock %}

{% block content %}
{% if messages %}
    <div class="col-12 d-flex justify-content-center">
        {% for message in messages %}
        <div id="alertMessage"
             class="alert alert-sm fs-6 text-center alert-dismissible fade show
             {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% else %}alert-info{% endif %}"
             role="alert"
             style="max-width: 500px;">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
{% endif %}


<!-- Logo Section: Centered Logo -->
<div class="container logo-container mt-1 d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-12 bg-black">
      <img id="logon" class="swing rounded-pill" src="{% static 'admin/img/ZHH Logo.png' %}" alt="Logo" width="200">
    </div>
  </div>
</div>

<!-- Empty Placeholder Section for Layout Adjustment -->
<div class="container button-container mt-3 d-flex justify-content-center">
  <div class="row">
    <div class="col-sm-12 bg-black ">
    </div>
  </div>
</div>

<div class="fixed-box mt-5" type="button" data-bs-toggle="modal" data-bs-target="#myModal">
    <h6></h6>
</div>

<!-- Start Button Section: Centered 'Start' Button -->
  <div class="container button-container mt-5 pt-5 d-flex justify-content-center">
    <div class="row">
      <div class="col-sm-12 bg-black py-5">
         <!-- Button to trigger the modal where user enters their name -->
      </div>
    </div>
  </div>


<!-- Modal Section: Modal to Capture User's Name for the Game -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-dialog-centered modal-sm-down">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-black d-flex text-center w-100">
        <h4 class="modal-title w-100">WILKOMEN ZUHAUSE </h4>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body bg-black text-white text-center">
        <form method="post" action="{% url 'zhed' %}" class="d-flex flex-column align-items-center w-100">
          {% csrf_token %}
          <h5></h5>
          <input type="text" name="name" class="form-control mb-3 text-center" placeholder="Enter Your Name Here & Press Play" style="max-width: 80%;">
          <button type="submit" class="btn btn-outline btn-md custom-login-btn" style="color:#FF00BF; border-color:#FF00BF;">Play</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Footer Section-->
  <div class="container footer-container mt-5 pb-3 d-flex justify-content-center fixed-bottom">
    <div class="row">
      <div class="col-sm-12 bg-black">
        <p>A ZuHause50 Web-App Version.</p>
      </div>
    </div>
  </div>

{% endblock %} 