{% extends "master.html" %}

{% load static %}

{% block title %}
Zu Hause - ZHed
{% endblock %}

{% block content %}
<div class="container log-container d-flex ">
  <div class="row">
    <div class="col-sm-12 bg-black">
      <img id="logon" class="swing rounded-pill" src="{% static 'admin/img/ZHH Logo.png' %}" alt="Logo" width="150">
    </div>
  </div>
</div>

<div class="container mt-2 text-center">
  <div class="row">
      <div class="col bg-black text-white"><strong></strong></div>
      <div class="col bg-black text-white"><strong>{{ player_name }}</strong></div>
      <div class="col bg-black text-white"><strong>Level: </strong>{{ player_level  }}</div>
      <div class="col bg-black text-white"><strong>Score: </strong>{{ player_score }}</div>
    </div>
</div>

<div class="container-fluid bg-black text-white pt-5 text-center justify-content-center">
  <div>
    <h4>Guess the Word:</h4>
      <p id="key-display">
      {% if gamestate %}
        {% for letter in cgw %}
          {{ letter }}  
        {% endfor %}
      {% endif %}
      </p>
      <form method="post" id="letter-form">
        {% csrf_token %}
        <input type="hidden" name="letter" id="letter-input">
      </form>
  </div>

      <div>
        {% if word and correct_guesses and word|make_list|length == correct_guesses|length %}
        <h4 class="title w-100 text-success">Congratulations! You guessed the word!</h4>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="start_game" class="btn btn-outline-success">Play Again</button>
        </form>
        {% endif %}

        {% if wrong_guesses|length == 1 %}
        <img src="{% static 'admin/img/mod0.png' %}" alt="structure0" class="img">
        {% elif wrong_guesses|length == 2 %}
        <img src="{% static 'admin/img/mod1.png' %}" alt="structure1" class="img">
        {% elif wrong_guesses|length == 3 %}
        <img src="{% static 'admin/img/mod2.png' %}" alt="structure2" class="img">
        {% elif wrong_guesses|length == 4 %}
        <img src="{% static 'admin/img/mod3.png' %}" alt="structure3" class="img">
        {% elif wrong_guesses|length == 5 %}
        <img src="{% static 'admin/img/mod4.png' %}" alt="structure4" class="img">
        {% elif wrong_guesses|length == 6 %}
        <img src="{% static 'admin/img/mod5.png' %}" alt="structure5" class="img">
        {% elif wrong_guesses|length == 7 %}
        <img src="{% static 'admin/img/mod6.png' %}" alt="structure6" class="img">
        {% elif wrong_guesses|length == 8 %}
        <img src="{% static 'admin/img/mod7.png' %}" alt="structure7" class="img">
        {% elif wrong_guesses|length == 9 %}
        <img src="{% static 'admin/img/mod8.png' %}" alt="structure8" class="img">
        {% elif wrong_guesses|length == 10 %}
        <img src="{% static 'admin/img/mod9.png' %}" alt="structure9" class="img">
        {% elif wrong_guesses|length == 11 %}
        <img src="{% static 'admin/img/mod10.png' %}" alt="structure10" class="img">
        {% elif wrong_guesses|length == 12 %}
        <img src="{% static 'admin/img/mod11.png' %}" alt="structure11" class="img">
        {% elif wrong_guesses|length == 13 %}
        <h4 class="title w-100 text-sorry">Sorry, Try Again!</h4>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="play_on" class="btn btn-outline-success">Play Again</button>
        </form>
        {% endif %}
  </div>

<!-- Scores Modal -->
<div class="modal fade" id="myModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm-down">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-black d-flex text-center w-100">
        <h4 class="modal-title w-100">Leaderboard</h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body bg-black text-white text-center">
        {% if scores %}
        <ul class="list-group">
          {% for player in scores %}
          <li class="list-group-item">{{ player.name }}: {{ player.score }} points</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer bg-black d-flex justify-content-center w-100"> 
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Hint Display -->
  <div class="container mt-2">
    <div class="row">
        <!-- Display Hint Logic -->
        <div class="col bg-black text-warning">
          {% if show_hint %}
          <strong>Hint: </strong>{{ get_hint }}  
          {% else %}
        <!-- Hint Form -->
      <form method="post">
        {% csrf_token %}
        <button type="submit" name="show_hint" class="btn btn-outline-dark" 
        {% if not gamestate %} disabled {% endif %}
        >Hint</button>
      </form>
          {% endif %}
        </div>
      </div>
</div>

<!-- Buttons -->
  <div class="container mt-4 d-flex justify-content-center">
    <div class="btn-group gap-3">

      <!-- Score Button -->
      <form method="post">
        {% csrf_token %}
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal" {% if gamestate %} disabled {% endif %}>
        Score
      </button>
    </form>

      <!-- Start Button -->
      <form method="post">
        {% csrf_token %}
      <button type="submit" name="start_game" class="btn btn-outline-dark"
      {% if gamestate%} disabled {% endif %}>
      Start</button>
      </form>

      <!-- Pause Button -->
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="pause_game" class="btn btn-outline-dark"
      {% if not gamestate %} disabled {% endif %}>
      Pause</button>
    </form>
      

<!-- Exit Trigger Modal -->

    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exitModal">Exit</button>

    <!-- Exit Confirmation Modal -->
    <div class="modal fade" id="exitModal" tabindex="-1" aria-labelledby="exitModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm-down">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-black">
            <h5 class="modal-title text-center" id="exitModalLabel">Are you sure you want to exit?</h5>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer bg-black">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
            <form method="post" action="{% url 'main' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Yes, Exit</button>
            </form>
          </div>

        </div>
      </div>
    </div>

    </div>
  </div>



<script>
        // JavaScript to handle keypress
        document.addEventListener('keydown', function(event) {
          let letter = event.key.toLowerCase();
          if (/^[a-z]$/.test(letter)) {  // Ensure only letters are processed
            document.getElementById('letter-input').value = letter;
            document.getElementById('letter-form').submit(); // Submit the form automatically
    }
});
</script>  

{% endblock %} 