{% extends "master.html" %}

{% load static %}

{% block title %}
Zu Hause - ZHed
{% endblock %}

{% block content %}
<div class="container log-container d-flex mt-5">
  <div class="row">
    <div class="col-sm-12 bg-black">

    </div>
  </div>
</div>


<!-- Player info display, player name, level, and score -->
<div class="container mt-2 text-center">
  <div class="row">
      <div class="col bg-black text-white"><strong>{{ player_name }}</strong></div>
      <div class="col bg-black text-white"><strong>Level: </strong>{{ player_level  }}</div>
      <div class="col bg-black text-white"><strong>Score: </strong>{{ player_score }}</div>
    </div>
</div>

<!-- Guess the word and game status -->
<div class="container-fluid bg-black text-white pt-5 text-center justify-content-center">
  <div>
    <!-- Only show the "Guess the Word" header if 'dormant' is not set -->
    
    <h4 {% if dormant %} hidden {% endif %} >Guess the Word:</h4>
      <p id="key-display">
      {% if gamestate %}
       <!-- Display the current word with spaces for unknown letters -->
        {% for letter in cgw %}
          {% if letter == " " %}
              &nbsp; <!-- Render space correctly --> 
          {% else %}
          {{ letter }}  
          {% endif %}
        {% endfor %}
      {% endif %}
      </p>

      <!-- Form to submit guesses -->
      <form method="post" id="letter-form">
        {% csrf_token %}
        <input type="hidden" name="letter" id="letter-input">
      </form>
  </div>

     <div> 
       <!-- Check if the word has been guessed correctly -->
        {% if word %}
        {% for played_word in played_words %}
        {% if played_word.word == word %}
        <h4 class="title w-100 text-warning">Congratulations!</h4>
        <h6 class="w-100 text-warning">The Word Was  "{{ word }}"</h6>
        <h6 class="w-100 text-warning">{{ meaning }}</h6>
        <br/>
        <h5 class="w-100 text-warning">AUF DEUTSCH</h5>
        <h6 class="w-100 text-warning"> {{ translation }}</h6>
        <h6 class="w-100 text-warning"> {{ translated_definition }}</h6>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="start_game" class="btn btn-outline-white">Play On</button>
        </form>
        {% endif %}
        {% endfor %}
        {% endif %}
      </div>

       <!-- Display the house images based on the number of wrong guesses -->
      <div class="image-container" {% if dormant %} hidden {% endif %}>
        {% if wrong_guesses|length == 0 %}
        <img src="{% static 'admin/img/mod11.png' %}" alt="structure0" class="img">
        {% elif wrong_guesses|length == 1 %}
        <img src="{% static 'admin/img/mod10.png' %}" alt="structure1" class="img">
        {% elif wrong_guesses|length == 2 %}
        <img src="{% static 'admin/img/mod9.png' %}" alt="structure2" class="img">
        {% elif wrong_guesses|length == 3 %}
        <img src="{% static 'admin/img/mod8.png' %}" alt="structure3" class="img">
        {% elif wrong_guesses|length == 4 %}
        <img src="{% static 'admin/img/mod7.png' %}" alt="structure4" class="img">
        {% elif wrong_guesses|length == 5 %}
        <img src="{% static 'admin/img/mod6.png' %}" alt="structure5" class="img">
        {% elif wrong_guesses|length == 6 %}
        <img src="{% static 'admin/img/mod5.png' %}" alt="structure6" class="img">
        {% elif wrong_guesses|length == 7 %}
        <img src="{% static 'admin/img/mod4.png' %}" alt="structure7" class="img">
        {% elif wrong_guesses|length == 8 %}
        <img src="{% static 'admin/img/mod3.png' %}" alt="structure8" class="img">
        {% elif wrong_guesses|length == 9 %}
        <img src="{% static 'admin/img/mod2.png' %}" alt="structure9" class="img">
        {% elif wrong_guesses|length == 10 %}
        <img src="{% static 'admin/img/mod1.png' %}" alt="structure10" class="img">
        {% elif wrong_guesses|length == 11 %}
        <img src="{% static 'admin/img/mod0.png' %}" alt="structure11" class="img">
        {% endif %}
      </div>

      <!-- If the maximum number of wrong guesses is reached, show "Try Again" -->
      <div>
        {% if wrong_guesses|length == 12 %}
        <h5 class="title w-100">Sorry....Try Again!</h5>
        <form method="post">
          {% csrf_token %}
          <button type="submit" name="start_game" class="btn btn-outline-white">Play Again</button>
        </form>
        {% endif %}
      </div>


<!-- Modal for the leaderboard -->
<div class="modal fade" id="myModal"  tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm-down">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header bg-black d-flex text-center w-100">
        <h4 class="modal-title w-100">Leaderboard</h4>
      </div>

      <!-- Modal Body -->
      <div class="modal-body bg-black text-white text-center">
        {% if scores %}
        <ul class="list-group">
          {% for player in scores %}
          <li class="list-group-item">{{ player.name }}: {{ player.score }} points</li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer bg-black d-flex justify-content-center w-100"> 
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<br/>
<input type="text" id="keyboardInput" placeholder="" maxlength="1" autofocus onblur="this.focus()" {% if not gamestate %} hidden {% endif %} >
<br/>
<style>
  #keyboardInput {
  background-color: black; 
  color: rgb(78, 33, 78); 
  text-align: center; 
  font-size: 20px; 
  border: 1px solid rgb(78, 33, 78); 
  outline: none; 
  width: 40px;
  height: 40px;
  border-radius: 20px; 
}

</style>
  <!-- Hint Section -->
  <div class="container mt-2">
    <div class="row">
        <div class="col bg-black text-warning">
          {% if show_hint and not dormant %}
          <strong>Hint: </strong>{{ get_hint }}  
          {% else %}
    <!-- Hint button -->
      <form method="post">
        {% csrf_token %}
        <button type="submit" name="show_hint" class="btn btn-outline-dark" 
        {% if not gamestate %} disabled {% endif %} 
        {% if dormant %} hidden {% endif %}
        >Hint</button>
      </form>
          {% endif %}
        </div>
      </div>
</div>

  <!-- Game Control Buttons -->
  <div class="container mt-4 d-flex justify-content-center">
    <div class="btn-group gap-3">

     <!-- Score Button (Modal) -->
      <form method="post">
        {% csrf_token %}
      <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal" {% if gamestate %} disabled {% endif %}>
        Score
      </button>
    </form>

      <!-- Start Game Button -->
      <form method="post">
        {% csrf_token %}
      <button type="submit" name="start_game" class="btn btn-outline-dark"
      {% if gamestate %} disabled {% endif %} >
      Start</button>
      </form>

      <!-- Hidden input to show the virtual keyboard -->
    <input type="text" id="keyboardInput" placeholder="Tap to Start" style="display:none;" />

    <!-- Pause Button -->
    <form method="post">
      {% csrf_token %}
      <button type="submit" name="pause_game" class="btn btn-outline-dark"
      {% if not gamestate %} disabled {% endif %}>
      Pause</button>
    </form>

      
<!-- Exit Button (Modal Trigger) -->
    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exitModal">Exit</button>
    <!-- Exit Confirmation Modal -->
    <div class="modal fade" id="exitModal" tabindex="-1" aria-labelledby="exitModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-sm-down">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header bg-black">
            <h5 class="modal-title text-center" id="exitModalLabel">Are you sure you want to exit?</h5>
          </div>

          <!-- Modal Footer -->
          <div class="modal-footer bg-black">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
            <form method="post" action="{% url 'main' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Yes, Exit</button>
            </form>
          </div>

        </div>
      </div>
    </div>
    </div>
  </div>

  <div id="keyboardContainer"></div>

<script>
        // JavaScript to handle keypress
        document.addEventListener('keydown', function(event) {
          let letter = event.key.toLowerCase();
          if (/^[a-z]$/.test(letter)) {  // Only process letter keys
            document.getElementById('letter-input').value = letter;
            document.getElementById('letter-form').submit(); // Submit the form automatically
    }
});

  </script>  
{% endblock %} 